{% extends "base_backend.html" %}

{% block content %}
<div class="page-header">
    <h2>{{ headline }}</h2>
</div>
{% url 'entity_list' as backurl %}
<p>Está a punto de eliminar una entidad. ¿Desea continuar?</p>
<p class="alert alert-danger">Advertencia! Todos los contratos asociados serán eliminados también.</p>
<form method="post">
    {% csrf_token %}
    <hr/>
    <button type="submit" class="btn btn-danger">Eliminar entidad</button>
    <a href="{{ request.GET.volver|default:backurl }}" class="btn btn-default">Cancelar</a>
</form>
{% endblock content %}