{% extends "base_backend.html" %}

{% block content %}
<style>
    .actions { opacity: 0; transition: all .2s ease; }
    tr:hover .actions { opacity: 1; }
</style>
<div class="page-header">
    <h2>
        {{ headline }}
        {# <a class="btn btn-default pull-right" href="{{ print_link }}" target="_blank" style="margin-left:.5em"><i class="fa fa-print"></i></a> #}
        <a class="btn btn-success pull-right" href="{% url 'entity_create' %}?volver={{ request.get_full_path|urlencode }}">Nueva entidad</a>
    </h2>
    <div class="pull-left">
        {% if request.GET.q %}
        <a href="{{ request.path }}">Borrar todos los filtros</a>
        {% endif %}
    </div>
    <div class="row">
        <form id="filter" class="col-md-4 pull-right">
            <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Buscar entidades" />
            <input type="hidden" name="p" />
        </form>
    </div>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="col-md-12">Nombre</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in object_list %}
        <tr id="{{ entity.html_id }}">
            <td>
                {{ entity.name }}<br/>
                <small class="actions">
                    <a href="{% url 'entity_update' entity.pk %}?volver={{ request.get_full_path|add:'#'|add:entity.html_id|urlencode }}">Editar</a>
                    <a href="{% url 'entity_delete' entity.pk %}?volver={{ request.get_full_path|add:'#'|add:entity.html_id|urlencode }}">Eliminar</a>
                </small>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>No hay entidades para mostrar.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "snippets/_pager.html" %}
{% endblock content %}