{% extends "base.html" %}

{% block precontent %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#backend-navbar">
                <span class="sr-only">Cambiar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'backend_dashboard' %}">{{ BRAND_SHORT }}</a>
        </div>
        <div class="collapse navbar-collapse" id="backend-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contratos</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'contract_list' %}">Todos los contratos</a></li>
                        <li><a href="{% url 'terminated_contract_list' %}">Contratos vencidos</a></li>
                        <li><a href="{% url 'aged_contract_list' %}">Contratos próximos a vencerse</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'contract_create' %}">Nuevo contrato</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catálogos</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'entity_list' %}">Entidades</a></li>
                        <li><a href="{% url 'contract_type_list' %}">Tipos de contrato</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.get_full_name }}</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'operator_profile' %}">Perfil de usuario</a></li>
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Administración interna</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <form method="post" id="logout-form" action="{% url 'user_logout' %}">{% csrf_token %}</form>
                        <li><a href="javascript:void(0)" onclick="$('#logout-form').submit()">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock precontent %}