{% extends "base_backend.html" %}

{% block content %}
<style>
    .actions { opacity: 0; transition: all .2s ease; }
    tr:hover .actions { opacity: 1; }
</style>
<div class="page-header">
    <h2>
        {{ headline }}
        {# <a class="btn btn-default pull-right" href="{{ print_link }}" target="_blank" style="margin-left:.5em"><i class="fa fa-print"></i></a> #}
        <a class="btn btn-success pull-right" href="{% url 'contract_create' %}?volver={{ request.get_full_path|urlencode }}">Nuevo contrato</a>
    </h2>
    <div class="pull-left">
        <a href="{% url 'contract_list' %}">Todos</a> |
        <a href="{% url 'aged_contract_list' %}">Próximos a vencerse</a> |
        <a href="{% url 'terminated_contract_list' %}">Vencidos</a>
        {% if request.GET.q %}
        | <a href="{{ request.path }}">Borrar todos los filtros</a>
        {% endif %}
    </div>
    <div class="row">
        <form id="filter" class="col-md-4 pull-right">
            <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Buscar contratos" />
            <input type="hidden" name="p" />
        </form>
    </div>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="col-md-1">Id</th>
            <th class="col-md-7">Detalles</th>
            <th class="col-md-2">Vigencia</th>
            <th class="col-md-2">Término de pago</th>
            <th class=""></th>
        </tr>
    </thead>
    <tbody>
    {% for contract in object_list %}
        <tr id="{{ contract.html_id }}">
            <td>
                {{ contract.id }}<br/>
                <small>#{{ contract.uid }}</small>
            </td>
            <td>
                {{ contract.entity }}<br/>
                <small class="text-muted">{{ record.description|default:"No hay notas adicionales" }}</small><br/>
                <small class="actions">
                    <a href="{% url 'contract_update' contract.pk %}?volver={{ request.get_full_path|add:'#'|add:contract.html_id|urlencode }}">Editar</a>
                    <a href="{% url 'contract_delete' contract.pk %}?volver={{ request.get_full_path|add:'#'|add:contract.html_id|urlencode }}">Eliminar</a>
                </small>
            </td>
            <td>
                {{ contract.contract_type }}<br/>
                <small>
                    F: {{ contract.date_signed }}<br/>
                    V: {{ contract.date_termination }}<br/>
                </small>
            </td>
            <td>
                {{ contract.payment_type }}
            </td>
            <td class="{% if contract.is_terminated %}danger{% elif contract.is_aged %}warning{% else %}success{% endif %}">
                <i class="fa fa-{% if contract.is_terminated %}times{% elif contract.is_aged %}question{% else %}check{% endif %}-circle text-{% if contract.is_terminated %}danger{% elif contract.is_aged %}warning{% else %}success{% endif %}"></i>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">No hay contratos para mostrar.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "snippets/_pager.html" %}
{% endblock content %}